body {
    background-color: #E8E4E5;
    margin: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #47404D;
}

.page-header {
    background-color: #DFB2C7;
}

.page-header h1 {
    font-size: 2.5em;
    padding: .25em;
    display: inline-block;
    margin: 0;
    font-weight: normal;
    color: #47404D;
}

.navigation {
    border-top: 1px solid #A09949;
    background-color: #E8E4E5;
    display: block;
    padding: .25em;
    margin-bottom: 2em;
}

.navigation a {
    color: #A75219;
    padding-left: .625em;
    padding-right: .25em;
    padding-top: .25em;
    padding-bottom: .25em;
    margin: 0;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a:hover {
    color: #DFB2C7
}

.page-content {
    padding: .625em;
    font-size: 1em;
}

table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

table thead tr {
}

table thead tr td {
    padding: .25em;
    font-weight: bold;
    color: #47404D;
}

table tbody tr {

}

table tbody tr td {
    padding: .25em;
    border-bottom: 1px solid #DFB2C7;
    border-top: 1px solid #DFB2C7;
}

table tbody tr:first-child td {
    border-top: 1px solid #47404D;
}

table tbody tr:last-child td {
    border-bottom: 1px solid #47404D;
}

.star-rating {
    width: 1em;
    vertical-align: baseline;
}

.align-right {
    text-align: right;
}