{% if callbackUrl is defined and callbackUrl is not null %}
<div id="creature-creation-component" class="component" callback="{{ callbackUrl }}">
    {% endif %}
    <form action="{{ postUrl }}">
        <fieldset>
            <legend>Creature Details</legend>
            <label>
                Name
                <input type="text" name="name"/>
            </label>
            <label>
                Color
                <select name="color">
                    <option value="" disabled selected>Select</option>
                    {% for color in colors %}
                        <option value="{{ color.id }}">{{ color.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>
                Size
                <select name="size">
                    <option value="" disabled selected>Select</option>
                    {% for size in sizes %}
                        <option value="{{ size.id }}">{{ size.name }}</option>
                    {% endfor %}

                </select>
            </label>
            <label>
                Rarity
                <select name="rarity">
                    <option value="" disabled selected>Select</option>
                    {% for rarity in rarities %}
                        <option value="{{ rarity.id }}">{{ rarity.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>
                Evolution
                <select name="evolution" callback="{{ evolutionsCallbackUrl }}">
                    <option value="" disabled selected>Select</option>
                    {% for evolution in evolutions %}
                        <option value="{{ evolution.id }}">{{ evolution.cardinality }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>
                Level
                <select name="level" callback="{{ levelsCallbackUrl }}">
                    <option value="" disabled selected>Select</option>
                    {% for level in levels %}
                        <option value="{{ level.id }}">{{ level.number }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>
                Attack
                <select name="attack">
                    <option value="" disabled selected>Select</option>
                    {% for attack in attacks %}
                        <option value="{{ attack.id }}">{{ attack.name }}</option>
                    {% endfor %}

                </select>
            </label>
            <label>
                Previous Evolution
                <select name="previousEvolution" callback="{{ previousEvolutionOptionsCallbackUrl }}">
                    <option value="" disabled selected>Select</option>
                </select>
            </label>
            <label>
                Next Evolution
                <select name="nextEvolution" callback="{{ nextEvolutionOptionsCallbackUrl }}">
                    <option value="" disabled selected>Select</option>
                </select>
            </label>
        </fieldset>
        <fieldset>
            <legend>Attributes</legend>
            <label>
                Health Points <input type="text" name="healthPoints"/>
            </label>
            <label>
                Power Rating <input type="text" name="powerRating"/>
            </label>
            <label>
                Attack Rating <input type="text" name="attackRating"/>
            </label>
            <label>
                Defense Rating <input type="text" name="defenseRating"/>
            </label>
            <label>
                Luck Rating <input type="text" name="luckRating"/>
            </label>
            <label>
                Mana Pool <input type="text" name="manaPool"/>
            </label>
        </fieldset>
        <input type="submit" value="Submit Creature"/>
    </form>
    </select>
    {% if callbackUrl is defined and callbackUrl is not null %}
</div>
{% endif %}