{% if callbackUrl is defined and callbackUrl is not null %}
<div id="creature-listing-component" class="component" callback="{{ callbackUrl }}">
    {% endif %}

    <table>
        <thead>
        <tr>
            <td>Color</td>
            <td>Name</td>
            <td>Evolution</td>
            <td>Level</td>
            <td>Size</td>
            <td class="align-right">Health Points</td>
            <td class="align-right">Power Rating</td>
            <td class="align-right">Attack Rating</td>
            <td class="align-right">Defense Rating</td>
            <td class="align-right">Luck Rating</td>
            <td class="align-right">Mana Pool</td>
        </tr>
        </thead>
        <tbody>
        {% for creature in creatures %}
            <tr>
                <td>{{ creature.color.name }}</td>
                <td>{{ creature.name }}</td>
                <td>
                    {% set maxEvolution = 6 %}
                    {% for index in range(1, maxEvolution) %}
                        {% if creature.evolution.cardinality >= index %}
                            <img class="star-rating" src="{{ asset('img/rating-star-256-positive.png') }}"/>
                        {% else %}
                            <img class="star-rating" src="{{ asset('img/rating-star-256-negative.png') }}"/>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ creature.level.number }}</td>
                <td>{{ creature.size.name }}</td>
                <td class="align-right">{{ creature.healthPoints }}</td>
                <td class="align-right">{{ creature.powerRating }}</td>
                <td class="align-right">{{ creature.attackRating }}</td>
                <td class="align-right">{{ creature.defenseRating }}</td>
                <td class="align-right">{{ creature.luckRating }}</td>
                <td class="align-right">{{ creature.manaPool }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if callbackUrl is defined and callbackUrl is not null %}
</div>
{% endif %}